<div class="painting_show">
  <h1><%= @painting.title %></h1>
  <%= image_tag(@painting.image) %><br>

  <ul>
    <li><%= @painting.year %></li>
    <li><%= @painting.medium %></li>
    <li><%= @painting.style %></li>
  </ul>


  <%= button_to 'Edit', '/paintings/'+@painting.id.to_s+'/edit', :method=> :get %>
  <%= button_to 'Delete', @painting, :method=> :delete%>


</div>